body {

    text-align: center;
    background: linear-gradient(#A2D9CE 0%, #E6B0AA 100%);

    background-repeat: no-repeat;
}


    img {

        border-radius: 50%;
        width: 100px;
    }

    h1 {

        text-shadow: 2px 2px #EC7063;
        font-size: 20px;

    }

    ul .menu {
        list-style: none;
        font-family: cursive;
        float: right;
        top: 10px;
        right: 30px;
        cursor: pointer;
        color: black;
    }

    .link {
        color: crimson;
        display: inline;
        padding-top: 5px;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 5px;
    }

    .link:hover {
        background-color: beige;
    }

    .menu a {
        color: black !important;
    }
